html
	head
		title= title
		link(rel='stylesheet', href='/style.css')
	body
		.heading-wrapper
			h1= message 
		ul
			- for (var i = 0; i < movieNamesArray.length; i++)
				li
					li(href="movies/"+movieNamesArray[i])= movieNamesArray[i] + " " +movieRatingsArray[i]
		br
		a(href="new.html") Add Movie





